* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: "Open Sans";
	font-size: 14px;
}

nav {
  background-color: #E6E6E6;
  width: 100%;
  height: 3em;
  padding: 2px; 
}

.logo {
    padding: 0 1em;
    font-weight: bold;
}

.logo, .navSearch, .description {
	display: inline-block;
	padding-top: 0.7em;
}

.description {
	background-color: #E6E6E6;
	width: 49%;
	text-align: center;
	font-style: italic;
}

.navSearch{
	width: 34.75%;
	padding-bottom: 0.7em;
	margin-top: 0;
	padding-left: 1.5em;
	border: none;
}

.map, .results {
	display: inline-block;
	float: left;
	height: 100%;
	overflow: scroll;
}

.map, .results {
	width: 50%;
}
.map iframe {
	width: 100%;
	height: 100%;
}

.resultsStatus{
	padding: 2px; 
    
	height: 2em;
}

.resultsCount, .resultsChangeColumn {
    margin: 0;
	
    padding: 0.5em;
}

.resultsCount{
	float: left;
}

.resultsChangeColumn{
	float: right;
}

.results {
	font-size: 0.9em;
}

.results table {
	width: 100%;
}

.results tr{
	border-bottom: 1px solid #ccc;
}

.results table {
	border: 1px solid #e6e6e6;
}

tr:nth-child(even){
	background-color: #EAEAEA;
}

tr:nth-child(odd){
	background-color: white;
}

.results th, td {
	border-left: 1px solid #eee;
	padding: 0.5em 0.5em;
	text-align: left;
}
.results td {
	padding: 0.75em 0.75em;
	font-size: 0.975em;
	color: #555;
}
.results td .units {
}